<!DOCTYPE html>
<html>
<head>
    <title>RPiMicroscope - Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <div class="header">
            <div class="left-header">{{title}} - Camera Administration</div>
        </div>
    </header>
    
    <p>
        <a href="{{url_for('overview')}}" alt="Overview">Show Overview</a>
    </p>

    <table id="host-table">
        <tbody>
            <tr>
                <th>Host Name</th>
                <th>IP</th>
                <th>Status</th>
                <th>
                    <button class="greenbutton" id="all-capture-still-image-button">Capture Still Image</button>
                </th>
                <th>
                    <button class="greenbutton-left" id="all-record-video-button">Record Video</button><button class="redbutton-right" id="all-stop-record-video-button">Stop Video Recording</button>
                </th>
                <th>
                    <button class="greenbutton-left" id="all-record-image-sequence-button">Record Video</button><button class="redbutton-right" id="all-stop-record-image-sequece-button">Stop Video Recording</button>
                </th>
                <th>    
                    <button class="greenbutton-left" id="all-start-detection-button">Start Detection</button><button class="redbutton-right" id="all-stop-detection-button">Stop Detection</button>
                </th>
            </tr>
            {% for key in camnetwork.get_hosts() %}
            <tr>
                <td>
                    <a href="{{camnetwork.get_camera_link(key)}}" alt="Camera Link">{{camnetwork.get_hosts()[key]}}</a>
                </td>
                <td>
                    <a href="{{camnetwork.get_camera_link(key)}}" alt="Camera Link">{{key}}</a>
                </td>
                <td>
                    <span id="status-{{key}}">...</span>
                </td>
                <td>
                    <button class="greenbutton" id="capture-still-image-{{key}}" data-ip="{{key}}">Capture Still Image</button>
                </td>
                <td>
                    <button class="greenbutton-left" id="record-image-sequence-{{key}}" data-ip="{{key}}">Record Image Sequence</button><button class="redbutton-right" id="stop-record-image-sequence-{{key}}" data-ip="{{key}}">Stop Record Image Sequence</button>
                </td>
                <td>
                    <button class="greenbutton-left" id="record-video-{{key}}" data-ip="{{key}}">Record Video</button><button class="redbutton-right" id="stop-video-{{key}}" data-ip="{{key}}">Stop Video Recordingo</button>
                </td>
                <td>
                    <button class="greenbutton-left" id="start-detection-{{key}}" data-ip="{{key}}">Start Detection</button><button class="redbutton-right" id="stop-detection-{{key}}" data-ip="{{key}}">Stop Detection</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    <footer>{{copyright}}</footer>
</body>
<script type=text/javascript src="{{url_for('static', filename='camnetwork.js')}}"></script>
</html>
