<!DOCTYPE html>
<html>
 <head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
 </head>
 <body>
  <header>
    <div class="header">
      <div class="left-header">
        {{ title }}<br/>
        <span id="status" class="status-normal">(Status)</span>
      </div>
      <div class="right-header">
        System Temperature: <span id="temperature"></span> °C <br/>
        Total: <span id="total"></span> MiB <br/>
        Used: <span id="used"></span> MiB <br/>
        Free: <span id="free"></span> MiB
      </div>
    </div>
  </header>
  <div class="view">
    <div class="controls">
      <label class="catlabel">Calibration</label>
      <label class="subcatlabel">X-Resolution (µm/pixel)</label>
      <input type="number" id="ruler-xres" name="name" min="0" max="100" step="0.01" value="10.0"/>
      <label class="subcatlabel">Y-Resolution (µm/pixel)</label>
      <input type="number" id="ruler-yres" name="name" min="0" max="100" step="0.01" value="10.0"/>
      <label class="subcatlabel">Ruler Length (µm)</label>
      <input type="number" id="ruler-length" name="name" min="0" max="5000" step="10" value="200"/>

      <label class="catlabel">Camera Settings</label>
      <label class="subcatlabel">ISO <output id="setting-iso-output" for="setting-iso">-</output></label>
      <input id="setting-iso" name="setting-iso" type="range" min="0" max="1600" step="100" value="100">
      <label class="subcatlabel">Brightness <output id="setting-brightness-output" for="setting-brightness">-</output></label>
      <input id="setting-brightness" name="setting-brightness" type="range" min="0" max="100" step="1" value="50">
      <label class="subcatlabel">Contrast <output id="setting-contrast-output" for="setting-contrast">-</output></label>
      <input id="setting-contrast" name="setting-contrast" type="range" min="-100" max="100" step="1" value="0">
    </div>
    <div class="video">
      <img src="{{ url_for('video_stream') }}" class="stream" alt="Camera Stream"/>
    </div>
    <div class="controls">
      <label class="catlabel">Info</label>
      <input type="text" id="record-name" name="name" placeholder="Recording Name (required)"/>
      <textarea id="record-description" name="description" placeholder="Description text goes here..."></textarea>
      
      <label class="catlabel">Detector</label>
      <select id="record-detector">
        <option value="particle">Particle</option>
      </select>

      <label class="catlabel">Trigger</label>
      <input type="radio" class="ratio" id="record-trigger-manual" name="trigger-mode" value="record-trigger-manual" checked>
      <label for="record-trigger-manual" class="ratiolabel">Manual</label>
      <input type="radio" class="ratio" id="record-trigger-motion" name="trigger-mode" value="record-trigger-motion">
      <label for="record-trigger-motion" class="ratiolabel">Motion</label>

      <!--<input type="number" id="record-trigtime" name="trigger-time"/>
      <input type="number" id="record-trigpostroll" name="trigger-postroll"/>-->

      <label class="catlabel">Mode</label>
      <input type="radio" class="ratio" id="record-film-only" name="recording-mode" value="manual" checked>
      <label for="record-film-only" class="ratiolabel">Record film only</label><br/>
      <input type="radio" class="ratio" id="record-detect-only" name="recording-mode" value="motion">
      <label for="record-detect-only" class="ratiolabel">Detect objects only</label><br/>
      <input type="radio" class="ratio" id="record-film-and-detect" name="recording-mode" value="motion">
      <label for="record-film-and-detect" class="ratiolabel">Record film and detect objects</label><br/>
     
      <button class="redbutton" id="record-button">
        <img class="buttonicon" src="{{ url_for('static', filename='icons/record-24.png') }}"/>
        <span id="record-button-text">Start</span>
      </button>
    </div>
  </div>
  <div class="tablearea">
    <table id="recording-table">
      <tbody>
        <tr>
          <th>Name</th>
          <th></th>
          <th>Description</th>
          <th>Date/Time</th>
        </tr>
        {% for item in rectable.recordings %}
        <tr>
          <td>{{ rectable.recordings[item].meta['name'] }}</td>
          <td>
            <a href="{{ url_for('player', ident=rectable.recordings[item].meta['id']) }}"><img src="{{ url_for('static', filename='icons/video-24.png') }}" alt="Player"/></a>
            <a href="{{ url_for('recording', ident=rectable.recordings[item].meta['id']) }}"><img src="{{ url_for('static', filename='icons/download-24.png') }}"" alt="Download"/></a>
            <img class="delete-recording-image" id="delete-recording-image" data-recording="{{rectable.recordings[item].meta['id']}}" src="{{ url_for('static', filename='icons/delete-24.png') }}"" alt="Delete"/>
          </td>
          <td>{{ rectable.recordings[item].meta['description'] }}</td>
          <td>{{ rectable.recordings[item].meta['datetime'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <footer>{{ copyright }}</footer>
  </body>
  <script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
</html>
