<!DOCTYPE html>
<html>

<head>
    <title>RPiMicroscope - Player</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <header>
        <div class="header">
            <div class="left-header">
                RPiMicroscope - Viewer
            </div>
            <div class="right-header">
            </div>
        </div>
    </header>
    <div class="view">
        {% if recording.is_video() %}
        <video src="{{ url_for('download', ident=recording.id()) }}" width="95%" controls autoplay loop>
                Your browser does not support video playback!<br />
        </video>
        {% elif recording.is_still_image() %}
        <img src="{{ url_for('download', ident=recording.id()) }}" width="95%" alt="Captured Image"/>
        {% else %}
        <p>Unsupported Format!</p>
        {% endif %}
    </div>
    <div class="tablearea">
        <table id="recording-table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Video File</td>
                    <td>{{ recording.meta['videofile'] }}</td>
                </tr>
                <tr>
                    <td>Image File</td>
                    <td>{{ recording.meta['imagefile'] }}</td>
                </tr>
                <tr>
                    <td>Meta File</td>
                    <td>{{ recording.meta['metafile'] }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ recording.meta['name'] }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ recording.meta['description'] }}</td>
                </tr>
                <tr>
                    <td>Date Time</td>
                    <td>{{ recording.meta['datetime'] }}</td>
                </tr>
                <tr>
                    <td>Trigger</td>
                    <td>{{ recording.meta['trigger'] }}</td>
                </tr>
                <tr>
                    <td>ISO</td>
                    <td>{{ recording.meta['iso'] }}</td>
                </tr>
                <tr>
                    <td>Brightness</td>
                    <td>{{ recording.meta['brightness'] }}</td>
                </tr>
                <tr>
                    <td>Contrast</td>
                    <td>{{ recording.meta['contrast'] }}</td>
                </tr>
                <tr>
                    <td>Calibration Resolution (x/y)</td>
                    <td>{{ recording.meta['ruler_xres'] }} µm/pixel / {{ recording.meta['ruler_yres'] }} µm/pixel</td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer>
        {{ copyright }}
    </footer>
</body>

</html>