[Unit]
Description=RPi Microscope Web Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/rpimicro/src
ExecStart=python3 rpimicro.py
Restart=always

[Install]
WantedBy=multi-user.target
