[Unit]
Description=RPi PM Sensor Web Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/rpimicro/src
ExecStart=/usr/bin/python3 rpipmsensor.py
Restart=always

[Install]
WantedBy=multi-user.target
