/* we use the box model for everything */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input, textarea, button, select {
  font-size: 1.0em;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em;
  background-color: white;
  border: 1px solid;
  border-radius: 4px;
  border-color: darkslategrey;
  width: 100%;  
  margin-top: 0.5em;
}

textarea {
  outline: none; /* no active outline */
  resize: none;
}

select {
  appearance: none;
  background-image: url(../static/icons/down-24.png);
  background-position: center right;
  background-repeat: no-repeat;
}

label.catlabel {
  font-size: 1.0em;
  width: 100%; 
  display:inline-block;
  margin-top: 0.5em;
  font-weight: bold;
}

label.subcatlabel {
  font-size: 1.0em;
  width: 100%; 
  margin-top: 0.25em;
  margin-bottom: 0.0em;
  display:inline-block;
}

input {
  margin: 0px;
  padding: 0.125em;
}

button {
  border: none;
}

button.redbutton {
  background-color: #ff5533;
  color: white;
}

button.redbutton:hover {
  background-color: #bb2211; 
  color: white;
}

button.redbutton:active {
  background-color: #dd5533; 
  color: white;
}

img.buttonicon {
  width: 0.7em;
  height: 0.7em;
  margin-right: 0.5em;
  filter: invert(1);
}

input.ratio {
  width: auto; 
}

img.stream {
  width: 100%;
}

img.delete-recording-image {
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  border-radius: 4px;
}

table, th, td {
  border-collapse: collapse;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
  background-color: #fff;
}
th {
  background-color: #20639B;
  color: white;
}

.view {
  display: flex;
  padding: 0.0em;
}

.controls {
  padding: 0.25em;
  flex: 30%;
}

.video {
  flex: 60%;
  /*background-color: black;*/
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 0.25em;
  display: flex;
  background-color: #20639B;
  color: white;
}

.left-header {
  font-size: 1.5em;
  flex: 40%;
}

.right-header {
  font-size: 0.75em;
  flex: 60%;
  text-align: right;
}

.tablearea {
  padding: 0.25em;
}

span.status-normal {
  padding: 0.25em;
  font-size: 1.0em;
  color: gray;
  text-align: center;
  width: 100%;
  display:inline-block;
}

span.status-error {
  padding: 0.25em;
  font-size: 1.0em;
  color: coral;
  text-align: center;
  width: 100%;
  display:inline-block;
}
